[2015-08-20 14:56] davidstump opened #2 "Update README/Docs"
Update README to walk a user through the new changes from @mudphone making everything compatible with the newest versions of Swift and Phoenix.

[2015-08-20 15:00] davidstump opened #3 "Add to Cocoapods"
Would be ideal to allow people to pull this in via Cocoapods.

[2015-08-20 15:10] davidstump opened #4 "Better Name?"
@mudphone Any thoughts on the repo name? The current name was just a quick filler when I started playing with channels. Thanks :)

[2015-08-20 21:40] optikfluffel commented on #3
:+1:

[2015-08-20 22:37] mudphone commented on #3
And maybe Carthage? Also, I've started experimenting with pulling in the websockets code via the Starscream pod. It seems to work fine.

[2015-08-20 22:38] mudphone commented on #4
[Family Apodidae: several genera and numerous species, including the common Eurasian swift (Apus apus).]

[2015-08-20 22:38] mudphone commented on #4
:smile:

[2015-08-20 22:39] mudphone commented on #4
Hmmm... Jonathan Swift wrote Gulliver's Travels...

[2015-08-20 22:45] mudphone commented on #4
Apparently I'm bad at this naming thing...

[2015-08-21 13:20] davidstump commented on #4
Ha - me too. I updated it to SwiftPhoenixClient for the moment.

[2015-08-21 20:22] #2 closed

[2015-08-21 20:22] #4 closed

[2015-08-24 06:17] mudphone commented on #3
/me reading all the CocoaPods documentation...

@davidstump What version would you like to start with?

[2015-08-24 06:18] mudphone opened #5 "Use CocoaDocs to generate documentation"
I saw mention of CocoaDocs for documentation. Might be cool to set this up for the project.

https://github.com/cocoapods/cocoadocs.org
http://nshipster.com/documentation/

[2015-08-25 11:17] mudphone commented on #3
Got the library working via a test CocoaPod. I'll clean it up and submit a PR.

<img width="495" alt="screen shot 2015-08-25 at 1 07 21 am" src="https://cloud.githubusercontent.com/assets/24647/9465275/faad12fc-4ac6-11e5-9f28-0d41c5fa4875.png">

[2015-08-25 13:34] davidstump commented on #3
Awesome!!

[2015-08-25 21:20] mudphone commented on #3
:rocket: The version number in the [podspec file](https://github.com/mudphone/SwiftPhoenixChannels/blob/package/SwiftPhoenixClient.podspec) defaults to 0.1.0. Maybe it should be 0.3.0, since there was (0.1.0) your first version, (0.2.0) my PR for Swift 1.2/Phoenix 0.17, and (0.3.0) this pod?

Another idea would be to keep the 0.X version number parallel to the Phoenix release.

I haven't updated o

[2015-08-29 07:08] mudphone commented on #3
I wrote up pull request to try out CocoaPods in #6 . Let me know what you think :)

[2015-08-31 19:19] davidstump commented on #3
Pulled in - Thanks again :)

[2015-08-31 19:19] #3 closed

[2015-08-31 19:21] davidstump commented on #3
BTW - Can't get to it at the moment, but I can update the docs to reference the new CocoaPod installation/structure.

[2015-08-31 21:10] mudphone commented on #3
:rocket: ! I can help with that too. Also, start reading up on pushing to CocoaPods trunk and maybe open up an issue for comments.

[2015-09-03 02:32] davidstump opened #7 "Update Documentation"
CocoaPods is now all setup and pushed to trunk. Need to update documentation to reference installation and usage via CocoaPods.

[2015-09-06 00:45] #7 closed

[2015-09-07 13:35] aaa707 opened #9 "Token Authorization"
Hi there,

Thank you for the awesome pod!

I'm building a chat app using this, but I want to check user authentication when socket joining.
It's related https://github.com/phoenixframework/phoenix/issues/699 .

Do you have a plan to pass not only Phoenix.Message but something?

Best,

[2015-09-07 17:11] davidstump commented on #9
That's definitely something to look into. I will have to read up on the decisions from that Phoenix thread.

Thanks for the suggestion!

[2015-09-08 08:44] aaa707 commented on #9
Hi @davidstump,

Thank you for your positive reply.
I'm looking forward to your update!
If I can help your work, I'll raise PR something.

Thanks,

[2015-09-08 16:08] nicholaswyoung opened #10 "Support installation via Carthage"
[Carthage](https://github.com/Carthage/Carthage) is a simplified dependency manager for iOS/OS-X. I know that you already have a Podspec (which I plan on using for now) but Carthage might be another great place to publish the client... and hopefully, allow you to do so with minimal hassle.

[2015-09-13 02:42] chrismccord commented on #9
This is pretty simple. Socket.connect needs to accept a dictionary and convert it to query string params to pass up with the websocket upgrade path. That's it!

[2015-09-20 09:32] mudphone opened #13 "Create a new 0.2.0 release tag, so we an push to CocoaPods"
I think we have an old (unnecessary) release tag for 0.2.0. Can you create a new one so that we can push to CocoaPods?

I'm assuming that you have to create the release tags, since I don't think that they come across in my pull requests. Once the tag is created, I can push to CocoaPods (test out my ability to do so), if you'd like.

FYI: I'm preparing to create a Swift 2.0 branch, to support tvOS.

[2015-09-20 09:34] mudphone commented on #10
I'd like to take a look at this when I get time. But, if someone else gets to it before me, I won't complain :)

[2015-09-22 13:40] davidstump commented on #13
A new 0.2 tag should be all set. Let me know if you have any trouble pushing to CocoaPods. Also - awesome that you are playing with this and tvOS :D

Thanks!

[2015-09-22 23:21] mudphone commented on #13
Okay, it looks like the CocoaPod linter cares about the versions being different 0.2.0 (in the pod spec) and 0.2 (for the tag). I'll open a PR for that small change in the pod spec. I did it locally, and the pod passed the linter. After the PR goes in, I'll push the pod to CocoaPods trunk.

Thanks!

[2015-09-23 03:40] nicholaswyoung commented on #10
@mudphone @davidstump Here are the main requirements for adding a package to Carthage. https://github.com/Carthage/Carthage#supporting-carthage-for-your-framework

I wonder if @chrismccord would favor adding this package to the PhoenixFramework org, so the Carthage URI would be solid for all time? (Or close to it, anyway.)

[2015-09-23 13:34] davidstump commented on #13
Makes sense. I pulled in the small change so hopefully you are good to go.

[2015-09-25 14:42] #13 closed

[2015-10-01 21:19] mudphone commented on #9
Just jotting down some notes here, regarding @chrismccord 's comments, and a brief discussion about it today.

The deps/phoenix/web/static/js/phoenix.js comments mention the use of the params passed in the JS client, in this style:

[code]

Then it uses the `static serialize()` method to turn the params object into a query string. We should be able to do this in the SwiftPhoenixClient.

[2015-11-13 14:28] davidstump opened #20 "Add Tests"
Tests are good :)

[2015-11-16 12:48] jeandavid opened #21 ""Invalid HTTP upgrade""
Hey,

I am testing the iOS client with the phoenix chat example. Everything works fine locally. When I deploy to heroku, I can't connect through web socket via the iOS client ( js client works fine). I get this error:
socket closed: Optional("Invalid HTTP upgrade").
Can you help me understanding what's wrong? and how to fix it?

Thanks!

[2015-11-16 14:35] chrismccord commented on #21
For native clients, make sure you have `check_origin: false` in your endpoint configuration. Likely you have the default check_origin setting, which enforces the websocket client's origin header to match the server's host. For native apps, there is no origin, so you can set it to false.

[2015-11-16 15:51] jeandavid commented on #21
That didn't help. Here's my endpoint configuration:
config :chat, Chat.Endpoint,
	http: [port: {:system, "PORT"}],
	url: [scheme: "https", host: "enigmatic-hamlet-2977.herokuapp.com", port: 443],
	force_ssl: [rewrite_on: [:x_forwarded_proto]],
	cache_static_manifest: "priv/static/manifest.json",
	secret_key_base: System.get_env("SECRET_KEY_BASE"),
	check_origin: false

On the iOS side, I am just t

[2015-11-17 14:44] jeandavid commented on #21
Actually there's another argument to Phoenix.Socket:
Phoenix.Socket(domainAndPort: "enigmatic-hamlet-2977.herokuapp.com", path: "socket", transport: "websocket", prot: "https").
Now it's working :)

[2015-11-17 14:44] #21 closed

[2015-11-17 15:13] davidstump commented on #21
Glad you got it sorted out. I added a snippet to the README about `prot` for clarification :)

[2015-11-22 14:38] turnabout4 opened #22 "socket closed: Optional("connection closed by server")"
Hi, thanks for awesome pod!
I tried socket.join and send message.
but, 40sec after joining, connection closed automatically.
[code]

so I added timeout value to  ```phoenix_server/web/channels/user_socket.ex```
[code]
but, it doesn't work...

What should I do to keep socket connection?

[2015-11-22 18:40] davidstump commented on #22
Can you give me some extra info (versions, etc)?

I just pulled the most recent version of the Phoenix Chat Example code as well as the current pod release for this client and all seems functional on a vanilla test.

Thanks!

[2015-11-22 22:24] turnabout4 commented on #22
Thanks for rapid response!

Certainly, the problem didn't occur in the most recent version of the Phoenix Chat Example code!

but , I'm using project generated by  ``` mix phoenix.new testChat ```.

phoenix version is 1.0.3(latest)

[code]

and then, I edited only 2 files.

1.add one line to ``` testChat/web/channels/user_socket.ex```
[code]

2. add new file ```testChat/web/channels/room_channel.e

[2015-12-21 01:38] tehprofessor opened #23 "#join message argument does nothing...?"
Howdy,

This could very well be a case of me missing the point, or just being an idiot, but from what I can tell and how I'd like to use this, setting a join message does nothing. Join calls rejoin, and correctly connects to the channel, but rejoin uses it's own hard coded message and payload.

E.g.

https://github.com/davidstump/SwiftPhoenixClient/blob/master/Pod/Classes/Phoenix.swift#L201-L216

[2015-12-30 21:54] col opened #24 "Long polling support?"
Is Long polling supported? From what I can see the WebSocket implementation is highly coupled with the socket implementation. Do you have any plans to de-couple these and add support for other transport layers?

[2015-12-31 04:49] davidstump commented on #24
This implementation mirrored the Phoenix js at the time it was created. I don't have any concrete plans to change the implementation, however, I am always open to further discussion or pull requests showing what people believe to be an improvement. Thanks for asking :)

[2016-01-10 16:39] col commented on #22
I just had the same issue. I have not fully looked into this yet but I think Phoenix has added heartbeats. If the server doesn't receive a heartbeat every x seconds it'll close the connection.
This should really be fixed in the library but you can easily work around this to your own app with something like this:

[code]

[2016-01-10 16:44] chrismccord commented on #22
Yes the client needs to heartbeat, as configured by the window on the server. (timeout is default set to 2x heartbeat, so 60s on the server). The client should be by default heartbeating every 30s.

[2016-01-19 21:35] sjrmanning opened #25 "Leave not public and has wrong event"
I've avoided creating a pull request for this as I'm hanging out for #17 to get pulled in, and my fork currently conflicts with that as it also fixes the same issue.

The `leave` methods on `Phoenix.Socket` and `Phoenix.Channel` aren't public, and the `leave` method that is there isn't using the right `phx_leave` event in the message. You can see my commit here for the fix: https://github.com/sjrm

[2016-01-19 21:36] davidstump commented on #25
Sorry for the delay - I pulled in #17 so feel free to push your fixes (if you would like).

Thanks!

[2016-01-19 21:37] sjrmanning commented on #25
Cool, just saw that! I'll work on a pull request now. Cheers :)

[2016-01-19 21:39] tehprofessor commented on #23
Resolved by merging of #9 closing out.

[2016-01-19 21:39] #23 closed

[2016-01-20 18:50] sjrmanning commented on #25
Fixed and merged in from #26

[2016-01-20 18:50] #25 closed

[2016-02-02 13:39] lucacorti opened #27 "Port in Host: HTTP header"
Is there any reason to add the port to the hostname in this Host: header? This seems at least to be incompatible with my haproxy setup.

https://github.com/davidstump/SwiftPhoenixClient/blob/a1c7251b69b5367c09f74556b70396668f482d58/Example/Pods/Starscream/WebSocket.swift

[2016-02-17 14:55] lucacorti commented on #27
Sorry, didn't realize this is a bug in StarScream.

[2016-02-17 14:55] #27 closed

[2016-02-17 14:58] davidstump commented on #27
No worries. Apologies - I wondered if that was the issue, but had not had time to test yet.

Cheers

On Wed, Feb 17, 2016 at 9:55 AM Luca Corti

<
mailto:Luca Corti <notifications@github.com>

Sorry, didn't realize this is a bug in StarScream.

—

Reply to this email directly or
https://github.com/davidstump/SwiftPhoenixClient/issues/27#issuecomment-185238927
.

https://github.com/davidstump/Swift

[2016-02-17 15:02] davidstump commented on #9
Could you let me know if this got resolved with your PR?

[2016-02-17 15:04] #24 closed

[2016-02-29 00:55] TigerWolf opened #28 "iOS 8"
Is it possible to make version 2 work with iOS 8 rather than 9 only?

[2016-02-29 14:24] davidstump commented on #28
It's been a while since we updated/added the docs for iOS 9, have you tried bumping your plafrorm down to 8? If so, can you give me an idea what kind of errors you are running into?

Thanks for any details!

[2016-02-29 23:38] TigerWolf commented on #28
I would need to fork the pod and lower the required version of iOS here:

https://github.com/davidstump/SwiftPhoenixClient/blob/master/SwiftPhoenixClient.podspec#L39

Is there any specific iOS 9 features you are using that require such a high version in order to use the Pod?

[2016-03-01 14:40] davidstump commented on #28
The requirement was a PR I believe and I don't remember offhand if they had any specific requirements for iOS 9. Feel free to test and let me know how it goes.

Thanks!

[2016-03-09 06:45] PoCk3T commented on #22
@col any idea how to translate that for Android ?
I can only put Enveloope objects as unique parameter of socket.push(), and here is what I tried & failed, leading to timeouts :

_socket.push(new Envelope("phoenix", "heartbeat", null, "heartbeat"));_

With Envelope defined respectively with a topic, an event, a Payload and a ref.

Any idea ?

[2016-03-16 05:16] col commented on #22
@PoCk3T - Are you calling `socket.push(new Envelope("phoenix", "heartbeat", null, "heartbeat"));` every 30 seconds?

If that's not your issue, you could try sending a payload other than null. My example workaround was at least sending a payload with an empty message property.

[2016-03-20 19:16] Douvi commented on #28
any news ?

[2016-03-21 12:28] almassapargali opened #29 "Alternative client"
Hello, wanted to let you know that I've built alternative client on Swift, while I've used many places of this project for ideas, it was total overhaul, so I though making it separate project would be better than PR.

I wouldn't write here about that, but looking at your README looks like you don't have much time for maintenance, and I thought it would be a good idea to let developers know about a

[2016-03-21 13:28] davidstump commented on #29
Thanks for the details and heads up :)

Sounds like a good alternative if people are looking for one.
Cheers!

[2016-03-21 19:04] davidstump commented on #28
Douvi - Unfortunately, I have not had a chance to run tests against iOS 8. Unless you would like to check and report back, I know an alternative client has also been created (Issue #29) if your app requires iOS 8 at this time.

Cheers.

[2016-04-16 07:12] tslater opened #30 "Cannot invoke value of type 'Phoenix.Message.Type' with argument list '(message: [String : Any])' // Is there a way to send up a message with mixed types?"
I'd like send up json-like data, with arrays, numbers, and strings. When I have all strings as values, I'm able to send a message, but not when I allow the values to be anything. Is it possible currently to do that? In other words, if my message is a [String:String] that works, but not  [String : Any].

[2016-04-16 07:36] tslater commented on #30
I figured out how to do it. [String:AnyObject]? instead of [String : Any] or [String : Any?].

[2016-04-16 07:36] #30 closed

[2016-04-18 22:21] #28 closed

[2016-04-18 22:21] #29 closed

[2016-05-02 17:44] tslater opened #31 "onError event"
I'm new to swift, so I may be misreading the source code on this, but it doesn't look like there is a way to know about an error event? I would really like to be able to listen for errors and respond to error events.

[2016-05-06 16:56] davidstump commented on #31
Just pushed this functionality and examples to master. Will push it along with a new minor version update with a few other tweaks.  Thanks!

[2016-05-06 17:10] davidstump commented on #31
P.S. This will catch all errors on the iOS side, your Phoenix app would need to broadcast an "error" event up to the websocket to be picked up on this end

[code]

[2016-05-06 17:10] #31 closed

[2016-05-06 18:09] tslater commented on #31
Awesome. Nice work. Thanks!
ᐧ

On Fri, May 6, 2016 at 11:10 AM, David Stump <notifications@github.com>
wrote:

[2016-05-06 19:59] davidstump commented on #22
Sorry for the delay - added a heartbeat every 30s from the iOS device to phoenix with the message Pong (for now). This is currently on master but will push it up with the next minor version with some other tweaks. I'll close this for now.

[2016-05-06 19:59] #22 closed

[2016-05-06 20:53] #9 closed

[2016-05-08 23:00] bbrock25 opened #33 "Update cocoapods"
As I mentioned in #32 there was an issue where the phoenix websocket server was killing the connection after 30 seconds or so. I ran into this issue while running the a project where the dependency was installed via from the cocoapods repo, when running with the dependency locally, I have had no issues.

If you have the time, could you please update the version hosted on cocoapods to be current wi

[2016-05-09 16:09] NilsLattek commented on #33
New version on cocoapods would be great! I just noticed that the reconnect interval is still 5000sec in the cocoapods version. The bug is already fixed in master for some time.

[2016-05-10 02:11] weixiyen opened #34 "Channel Presence"
Phoenix 1.2 introduced Presence.

Was wondering if this library will be supporting it.

Thanks!

[2016-05-10 13:16] davidstump commented on #34
Absolutely. Once I get this next minor version bump pushed up to Cocoapods, thats next up on my list :)

[2016-05-12 14:22] davidstump commented on #33
The new updates are pushed up as the 0.3 release on CocoaPods.

[2016-05-12 14:22] #33 closed

[2016-05-12 14:36] bbrock25 commented on #33
Awesome, thanks @davidstump

[2016-05-13 17:22] NilsLattek opened #35 "Socket error handling"
There is an event for handling errors on channels, but I think it would also make sense to have something similar on the socket itself. This would allow for a better global error handling (show the user when the connection is offline). It would also be in line with the channel javascript sdk:
https://github.com/phoenixframework/phoenix/blob/master/web/static/js/phoenix.js#L68-L96

What do you thin

[2016-05-15 16:06] davidstump commented on #35
The Socket class currently has hooks for onOpen, onError, onClose, etc. (https://github.com/davidstump/SwiftPhoenixClient/blob/master/Pod/Classes/Phoenix.swift#L305-L334), however these are not exposed at the moment. Do you have a thought/preference/etc for how these would be utilized on the ViewController side?

[2016-05-16 12:01] NilsLattek commented on #35
It would be great to make these three hooks public and maybe also the isConnected method.
I have two use cases in mind:
* Show the user that the server-connection is open/closed. At the moment I can only do this through a manual heartbeat channel.
* This would also allow me to extend the current sendBuffer cache to also save the unsend messages to disk if the app gets closed. If the socket is clos

[2016-06-05 13:43] NilsLattek opened #38 "It is not possible to dealloc a socket instance."
When I am storing my socket in a property like
[code]
and lets say I want to close the connection when the user performs a logout:
[code]
The socket is never deallocated because it has up to three NSTimers which hold a strong reference to the socket. (reconnect, hearbeat, sendBufferTimer).
A solution would be to expose a disconnect method which stops all timers and leaves all channels. The channel

[2016-06-07 14:33] Anders123fr opened #39 "leave function on Socket is private"
I cannot find a way to close a socket connection, other than the method as seen in the ``leave()`` function in the ``Socket`` class:

[code]

Why not make the ``leave()`` function public in the ``Socket`` class?

[2016-06-10 18:08] davidstump commented on #39
Good idea. Would you make it public as is, or allow the user to pass in any of the message/payload?

Would you have time to open a PR?

Thanks for the suggestion!

[2016-06-10 18:09] davidstump commented on #38
Issue #39 is talking about a public `leave` function for disconnecting from a socket connection. Any reason not to also stop all timers and make that the recommended way to leave and disconnect?

[2016-06-12 14:55] NilsLattek commented on #38
The ```leave``` function is for leaving a channel and not fully closing a socket if I understand this correctly?
At the moment I am using this implementation to fully disconnect the socket from the server: https://github.com/NilsLattek/SwiftPhoenixClient/blob/disconnect/Pod/Classes/Phoenix.swift#L266-L276
(Use Case scenario: User performs a logout and I want to fully close the connection. Or goes

[2016-06-12 15:09] davidstump commented on #39
Also - are you attempting to leave a channel (the `leave` function) or disconnect from the socket entirely? There are two (currently non-public) functions that handle the separate behaviors.

[2016-06-12 15:13] davidstump commented on #38
Ah yeah - good call. The leave function could be used for an individual channel, but leave other channels open if desired.

The only potential issue I see is that if we are making a public way to disconnect from the socket, your function does not allow a user to pass a callback like they could with the `close` function by itself. I might be in favor of a solution where `invalidateTimers` is a func

[2016-06-12 15:24] NilsLattek commented on #38
Yes that sounds good to me. So we would have a new function ```invalidateTimers``` which is private and then make socket ```close``` public and call invalidateTimers inside. Correct?

[2016-06-13 08:13] Anders123fr commented on #39
I would like to be able to close a channel and a socket. I have a list of chats in my app, and I would like to be able to close a chat channel when the user leaves a chat page. When he enters a new chat, I would like to open a new channel. At the moment, multiple channels are opened at the same time. Also when the user then leaves the page wth a list of the different chats, I would like to close t

[2016-06-14 01:15] davidstump commented on #39
Updated the two methods to public in the most recent commit to master. Will go out with the next release.

Cheers!

[2016-06-14 01:15] #39 closed

[2016-06-14 01:16] davidstump commented on #38
Just set `close` and `leave` to public and added the `invalidateTimers` function on the most recent commit to master. Will go out with the next release.

Cheers!

[2016-06-14 01:16] #38 closed

[2016-06-14 06:05] Anders123fr commented on #39
That is fantastic.
Thank you very much!

[2016-06-15 23:06] therobinsj opened #41 "Enhancement or bridge to Objective-C"
Hey!

I would love to help, just some thoughts;

There's a existing [Objective-C library](https://github.com/RokkinCat/phoenix-objc), I have opened a issue to see if it's still maintained. By the looks of it, I think its abandoned.

I'm still learning Elixir and playing around with Phoenix. I am comfortable in Objective-C and have some experience with Swift. What I can do is, either help out with

[2016-06-16 01:04] davidstump commented on #41
Hey Back!

Help would be awesome!

Any of the enhancements (tests and carthage support) or the Objective-C header would all be a great addition. I would say any of them that spark your interest would be fantastic.

Thanks!

[2016-06-16 09:23] therobinsj commented on #41
Awesome!

Look forward to be working with you 😃

[2016-06-16 09:23] #41 closed

[2016-06-16 20:11] NilsLattek commented on #38
Awesome, thank you! Just tested the master branch. 👍

[2016-07-01 07:19] tony612 commented on #34
@davidstump Any plan for this feature? Phoenix 1.2 is released 😁

[2016-07-01 11:36] davidstump commented on #34
The other small features have been launched and there is a presence branch WIP, but I would love a PR if you have the time.

[2016-07-03 05:29] davidkuhta opened #44 "Swift 3 Support"
Hey there!

Just wanted to have a place to discuss Swift 3 issues.

I've started working on a migration now that Starscream has a branch supporting it. Any chance you could make a new branch here to push to?

Cheers.

[2016-07-04 08:47] tony612 commented on #9
@davidstump I think that PR is not enough. The params should be passed to server when the socket connection is built.

[2016-07-05 08:02] tony612 opened #45 "leave event should be "phx_leave""
This should be `phx_leave`, right? https://github.com/davidstump/SwiftPhoenixClient/blob/49925f12a28dbf65354fa4963b5b49f7f1b0ccce/Pod/Classes/Phoenix.swift#L411
Otherwise, Phoenix won't handle the leave event

[2016-07-06 03:13] davidkuhta commented on #30
@tslater Any chance you could share an example of this? I couldn't get mine to work.

[2016-08-02 14:28] Anders123fr commented on #45
You are right!
This is a really important issue, hope that it will be fixed soon.
And it would also be fine to release a new version now with all those commits after version 0.0.3 :)

[2016-08-03 01:11] davidstump commented on #44
Sorry for the delay - time keeps getting away from me. I setup the swift3 branch if you (or anyone else) still has any interest. Thanks for getting the discussion started 👍

[2016-08-03 01:15] davidstump commented on #45
Thanks for the reminder - pushed this up to master. 👍

[2016-08-03 01:26] #45 closed

[2016-08-03 08:31] Anders123fr commented on #45
Thanks for the new release!
But I think you forgot to set the version in the podspec, so it won't update using CocoaPods :)

[2016-08-08 09:28] Anders123fr opened #47 "CocoaPod version is 0.3 but newest release is 0.4"
It seems that the newest pod version 0.3, does not point to the newest release which is 0.4
<img width="982" alt="skaermbillede 2016-08-08 11 25 36" src="https://cloud.githubusercontent.com/assets/1019341/17475410/36910a38-5d5b-11e6-9b23-a61f37fc040c.png">

[2016-08-14 16:08] NilsLattek opened #48 "JSON parsing"
May I ask why you used an external JSON parsing library? It causes some troubles with my messages. Two examples:
JSON:
[code]

**It does not parse nested JSON:**
[code]

**Type casting is a problem / not working:**
[code]

Maybe we should provide a way to access the raw String or NSData inside the Phoenix.Message coming from the websocket? Then it would be possible to choose a different parser.

[2016-08-14 16:17] davidstump commented on #48
I created this library when Swift and Phoenix were both very very new, so there are almost certainly better choices :)

We could provide the option, or I am all for replacing an external library with a native option. Less dependencies is better.

Would you have the time or be interested in a PR or at least getting the ball rolling?

Cheers!

[2016-08-14 16:30] NilsLattek commented on #48
Thanks for the quick feedback. Yes I have some time and will think about possible solutions and can also start a PR. I will keep you updated.

[2016-08-14 16:33] davidstump commented on #48
Thanks a ton!

Let me know if you have any questions or need help. After the first part of Sept, I should have significantly more free time to help out.

David

[2016-08-23 18:12] NilsLattek opened #51 "Support receive hooks"
The phoenix js sdk allows to receive the reply to a pushed message:

[code]

The `receive("ok")` callback will be called with the response_payload returned in the channel:

[code]

This allows for an easier message -> reply style of programming when using channels. At the moment we do not have this functionality in the iOS SDK. The implementation in JS just listens for a `phx_reply` event and comp

[2016-08-23 18:19] NilsLattek opened #52 "Handle phx_error"
When a client is connected to a channel and for some reason the channel crashes then phoenix restarts the channel (supervisor) and sends a `phx_error` event to the client.
The client should then try to rejoin the channel or else it cannot send or receive further messages.
From the js source: https://github.com/phoenixframework/phoenix/blob/master/web/static/js/phoenix.js#L310-L313

[2016-08-23 18:21] davidstump commented on #51
That definitely looks interesting.

This SDK was written mirroring the very first Phoenix JS implementation. Since then the PhoenixJS has been improved in a number of different ways (including Presence functionality) that would most likely be good spots for refactoring this code base. On my long wish list for this SDK is to refactor the majority of it following the patterns over the past few years

[2016-08-23 18:29] NilsLattek commented on #51
Since you are talking about bigger refactorings, I personally don't like the large Phoenix.swift file with all the nested classes. I would like to see this split into multiple files since it would make the codebase more readable. Maybe we can tackle this once you have more time or I can give a try sometime. But for this I think we should look again into the unittest case. Maybe once Swift 3 and th

[2016-08-23 18:40] davidstump commented on #51
Agreed about the Phoenix.swift. That was initially done before Cocoapods was setup to allow people to copy down one swift file (or a few swift files) and pull them into their project. If we are going to use the native package manager (good idea) I would also like to break them apart. Better for both readability and testing.

I also have a swift3 branch. Also something on my long wish-list :)

Chee

[2016-08-23 18:52] NilsLattek commented on #51
Sounds awesome! I will help with swift 3 as soon as it is out and my project won't compile any more 😄

[2016-08-23 19:00] davidstump commented on #51
Awesome! Thanks again for being involved.

[2016-09-01 01:20] BryanJBryce commented on #47
Use Carthage ;)

[2016-09-06 21:22] jonsteinmetz commented on #10
I would also request the option to install via git submodules. But since that should come along for the ride with Carthage support I will just leave that as a comment here. Thanks.

[2016-09-06 21:23] jonsteinmetz commented on #10
I would also request the option to install via git submodules. But since that should come along for the ride with Carthage support I will just leave that as a comment here. Thanks.

[2016-09-09 14:41] serejahh commented on #47
@davidstump could you push new podspec, please?

[2016-09-23 03:12] #44 closed

[2016-09-23 03:12] #5 closed

[2016-09-23 03:12] #20 closed

[2016-09-23 04:02] davidstump commented on #48
Going to go ahead and close this as we are moving toward native parsing - you can follow along in the PR Nils referenced :)

[2016-09-23 04:02] #48 closed

[2016-09-23 04:03] davidstump opened #56 "Support Swift Package Manager"

[2016-10-03 19:06] #47 closed

[2016-10-14 02:32] #56 closed

[2016-10-14 02:35] davidstump commented on #10
Finally got some help doing some significant (and much needed) restructuring and the carthage build command succeeds. Please feel free to open other specific issues if you have any trouble with Carthage. Cheers!

[2016-10-14 02:35] #10 closed

[2016-10-15 19:42] JakePrasad opened #60 "Swift 3 errors"
Hi,

I installed SwiftPhoenixClient using cocoapods on an empty project, but when I try to open the xcworkspace, Xcode8 says that I need to choose to convert the code to either Swift3 or Swift2.3

After choosing Swift3 and letting XCode convert the code, I ended up with >30 errors, about 20 of which were due to StarScream and about 10 of which were because of SwiftPhoenixClient.

Do I need to inst

[2016-10-20 18:21] davidstump commented on #60
Cocoapods should install the most recent version of the client which is Swift3 compatible and pulls in the newest version of Starscream which is as well. Did you specify a SwiftPhoneixClient version in your Podfile?

[2016-10-21 05:17] JakePrasad commented on #60
That's what I thought too, and I hadn't specified a version in the Podfile when I ran pod install.

I tried reinstalling cocoapods in case it was having trouble integrating with Xcode8 (it seems a few other people on Github have run into this issue).
The reinstallation seems to have fixed the errors and I can now build the project.

[2016-10-21 05:17] #60 closed

[2016-10-27 14:50] serejahh commented on #34
Any plans?

[2016-10-27 14:53] davidstump commented on #34
Now that the project is nicely updated/refactored I just need to find time to implement this. I did a quick test a few weekends ago and getting presence up and running went pretty smooth for a simple test. Welcome all PRs as always.

[2016-10-30 05:13] davidstump commented on #27
Hi,
Look at that great stuf I've  just found, I thought  you moight like it as weel as me,  check  this out <http://clemente.ajlconsultingltd.com/lnxj/97>

Good wishes, David Stump

[2016-11-25 23:00] dmdque opened #61 "Nothing happens when joining"
I'm using a simple Phoenix instance, and have a simple channel join event working in js. I'm using the following on iOS:

        let socket = Socket(domainAndPort: "localhost:4000", path: "socket", transport: "websocket")
        socket.join(topic: "room:lobby", message: Message(subject: "status", body: "joining")) { channel in
            let channel = channel as! Channel
            print("join

[2016-11-26 06:06] davidstump commented on #61
Well, that sounds less than ideal. I am out of town, but let me check this out when I get back before posting to Phoenix so we can confirm its not a problem on our end (which is more likely).

Thanks for the report!

[2016-11-28 21:17] dmdque commented on #61
Just going to add some more information. When running the `Example/`, my logs get flooded with this:

[code]

[2016-11-28 21:35] davidstump commented on #61
Thanks for the added info - can you paste what you are seeing if anything on the logs for the Phoenix side?

[2016-11-28 21:38] dmdque commented on #61
The server isn't logging anything.

`sudo tcpdump port 4000` also outputs nothing when using the example project.

[2016-12-01 19:31] dmdque commented on #61
I tried the channel join with [Birdsong](https://github.com/sjrmanning/Birdsong), and the results are the same.

I've created an issue in the phoenix project. There's some additional info in there.

[2016-12-01 19:37] davidstump commented on #61
Awesome. Sorry for the delay but thanks for checking with Birdsong as well.

[2016-12-01 20:22] dmdque commented on #61
I managed to get Birdsong to work. I was missing line 3:

    let socket = Birdsong.Socket(url: URL(string: "http://10.88.111.2:4000/socket/websocket")!)
    socket.onConnect = {
        let channel = socket.channel("room:lobby", payload: ["user": "test"])
    }
    socket.connect()

It looks like such an innocent line, but apparently it's crucial.

Perhaps I'm missing something in my SwiftPhoenix

[2016-12-01 20:36] davidstump commented on #61
In the initial code you provided from SwiftPhoenixClient the topic was `room:lobby` but the updated chat example uses `rooms:lobby`. Can you confirm for me that the topic in your Swift client matches whats in the channel?

[2016-12-01 20:39] dmdque commented on #61
Yeah, I modified the chat example to use `room`. Also Birdsong is using `room` and works.

[2016-12-01 21:09] davidstump commented on #61
I ran across a number of different issues opened with similar errors since iOS 10. One issue: https://github.com/facebook/react-native/issues/10027 had a solution that worked for me.

product -> clean
and (hold down option key)
product -> 'clean build folder'

Prior to that I saw the same no connected handler error you referenced. After I could connect just as it should.

Let me know if this helps

[2016-12-01 21:34] dmdque commented on #61
I followed those steps but the behaviour is the same.

Can you confirm that the code in my first comment *should* work (and isn't missing anything)?

    let socket = SwiftPhoenixClient.Socket(domainAndPort: "10.88.111.2:4000", path: "socket", transport: "websocket")
    socket.join(topic: "room:lobby", message: SwiftPhoenixClient.Message(subject: "status", body: "joining")) { channel in
        l

[2016-12-01 21:38] davidstump commented on #61
What I have in my sample running now is:

[code]

Notably, I do not have SwiftPhoenixClient in front of my class names. Also, the example code is using phx_join to wait for the join event to succeed. However, the error messages should/would be different for either of those issues I believe.

[2016-12-01 21:51] dmdque commented on #61
Seems functionally identical to me... hmm.

As for prefixing, that's due to the namespace collisions between SwiftPhoenixClient and Birdsong. I'm testing both in the same file.

I'm not sure what to try at this point.

[2016-12-01 22:04] davidstump commented on #61
Based on a few of the other reports - it sounds like a bug in some users Xcode env since iOS 10. Happy to keep helping if I can, however, is there a reason SwiftPhoenixClient better suits your needs than Birdsong? Not trying to punt, just trying to get you back on track building something versus spending forever debugging :)

[2016-12-02 00:53] mudphone commented on #34
@davidstump I've started some updates based on your initial swag. I'd love to get feedback on style, approach, etc. I'm going over the JS Phoenix Presence client code and doing a port, as it appears was @davidstump's initial cut.  It's over on a branch here: https://github.com/mudphone/SwiftPhoenixClient/commit/91e8094aba6dc017a7c4926a83c07542eaa3b353

[2016-12-02 14:24] davidstump commented on #34
@mudphone <3

Looks fantastic! Going through the JS client and porting was indeed my plan.

[2016-12-02 18:49] dmdque commented on #61
I see, that's too bad. I've started implementing with Birdsong. I'll end my debugging of this here, for now. Thanks for your help!

[2016-12-02 18:59] davidstump commented on #61
Not a problem! Best of luck with your project.

[2016-12-05 20:44] axelson opened #62 "Join room without sending a message"
Is it possible to join a room without sending a message? We don't want to actually send a message when joining.

[2016-12-06 14:27] davidstump commented on #62
Since you mentioned room, I will assume you are using the phoenix_chat_example? If so, the `user:entered` message is manually triggered on the channel itself:

https://github.com/chrismccord/phoenix_chat_example/blob/master/web/channels/room_channel.ex#L27-L31

Your code could do something different (or nothing) with that event and no message would be sent. Likewise, your Swift code would no longe

[2016-12-07 20:53] axelson commented on #62
@davidstump I suppose instead of room I should say channel. I'm talking about the client sending a message to the server, not the server sending a message to the client.

The current syntax for joining a channel is:
[code]

Is there any way to not send that initial message? And just do something like:

[code]

[2017-02-13 18:34] willc0de4food commented on #62
@axelson You could try modifying the code in your project to add some overload methods which don't include a message. For ex: in Pods -> Pods -> SwiftPhoenixClient -> Channel.swift add
`init(topic: String, callback: @escaping ((Any) -> Void), socket: Socket) {`
`        (self.topic, self.callback, self.socket) = (topic, { callback($0) }, socket)`
`    }`

Then in Pods -> Pods -> SwiftPhoenixClient

[2017-02-19 13:35] mojidabckuu commented on #34
Hi, @davidstump any updates on presence port?

[2017-02-19 13:38] mojidabckuu opened #65 "Auth token example for Swift library"
I've just finished reading great book "Programming Phoenix". The sample to create video annotation identifies a user through `window-token` which is part of DOM itself. What is the approach for the client library?. What is best approach I can apply to keep my channel specific for a user and safe.
Phoenix <3 !

[2017-02-22 03:28] schrockwell opened #66 "Escape query parameters when connecting to socket endpoints"
I encountered an error trying to connect to a socket with a parameter that had a space in it. I dug into the `Socket` initializer and noticed that the query parameters are simply being appended do the endpoint URL without any proper escaping.

The `NSURLComponents` class can be utilized to take care of the proper URL formatting. See here: https://www.ralfebert.de/snippets/ios/encoding-nsurl-get-pa

[2017-03-05 04:02] markshiz commented on #66
I encountered the same problem.

[2017-04-11 16:56] sger opened #68 "Setup socket"
Hello,

Is possible to initialize socket within viewDidLoad method it's important to pass some special parameters like token for example the scenario is user login get the token and after construct socket object in my example doesn't seems to work any ideas?

[2017-04-19 14:43] anildigital opened #69 "CFNetwork SSLHandshake failed (-9807)"
Getting this error while connecting to HTTP socket?

[code]

Does this library allow setting something like

```NSExceptionAllowsInsecureHTTPLoads```

[2017-08-21 09:00] sushimatou opened #70 "Handle error when sending data"
I use Swift Phoenix Client in my app to sending & receive data with Phoenix sockets. If I use the traditional way with channel.on to receive data on events, I use also your specific way to send data with method socket.send. But I doesn't really understand how I can handle errors at this moment, in others words, how can I verifiy if the connection is always established, if my message was send corre

[2017-09-18 09:20] phanisai4u opened #71 "How to disable console log..?"
Hi, Thanks for the great framework.
how can I disable and enable console log for this frame work...?

[code]

[2017-09-21 15:11] davidstump commented on #71
There isn't at the moment, but I just added a Logger class so I can replace all of the `print` calls with `Logger.debug` that will use `#if DEBUG` to conditionally print the output only in debug mode. Thanks for mentioning.

[2017-09-23 17:11] phanisai4u commented on #71
Thanks, @davidstump 👍

[2017-09-23 17:11] #71 closed

[2017-09-25 21:18] thiagodelmotte opened #72 "Not working with Swift 4"
Do you guys have plans to update to Swift 4?

[2017-09-26 02:11] davidstump commented on #72
I just pushed up some updates to the `master` branch a few days ago. It passes the Swift 4 converter on Xcode, but hasn't passed a real-world test yet. Would you have time to give it a try in your app/env?

Cheers!

[2017-09-27 20:55] thiagodelmotte commented on #72
Hy David,

Thank you for the quickly response!

I've made some tests and it's fine with Swift 4, but I'm having other issues:

1) When using leave method, I'm getting this error:
Message.swift, Line 45
Could not cast value of type 'Swift.String' (0x103ef0f68) to 'Swift.Dictionary<Swift.String, Any>' (0x103f21f20).
2017-09-27 17:45:41.970208-0300 Lassie Development[2059:745874] Could not cast value

[2018-01-09 08:02] ManueGE commented on #70
Any news on this?

[2018-02-10 18:10] danielrees18 commented on #66
This should be resolved in #82 and will be available in the next release. Thanks!

[2018-02-10 18:10] #66 closed

[2018-02-12 00:24] danielrees18 commented on #62
API changes coming in the next release which will allow for optional payloads when sending a message (see #83)

Hopefully we'll get a new release out in a week or so after more testing. Thank you!

[2018-02-12 00:24] #62 closed

[2018-02-12 14:57] danielrees18 commented on #72
hey @thiagodelmotte

We released [0.7.0-rc1](https://github.com/davidstump/SwiftPhoenixClient/releases/tag/0.7.0-rc1) today. You can test it out and see if you are still having problems. Hopefully we'll roll out the final version next week if all is 💯

[code]

[2018-02-12 14:59] danielrees18 commented on #70
@sushimatou @ManueGE

We released [0.7.0-rc1](https://github.com/davidstump/SwiftPhoenixClient/releases/tag/0.7.0-rc1) today which adds callbacks when sending a message. You can test it out and see if it fits your needs.

[code]

You can now receive events when sending a message. This is a new feature so please let me know if you guys have any trouble with it.

See [the wiki](https://github.com/da

[2018-02-12 15:06] danielrees18 commented on #68
@sger You can initialize the socket with whatever parameters you need, such as a token. Then calling `open()` will open the socket to the server, passing the given parameters.

For more, please see [the usage guide](https://github.com/davidstump/SwiftPhoenixClient/wiki/Usage-Guide#creating-a-socket).

Closing this as resolved. If you are still having trouble, please let me know

[2018-02-12 15:06] #68 closed

[2018-02-12 15:10] danielrees18 commented on #65
@mojidabckuu when joining a channel, you can pass parameters which will be sent as a payload to the server. On the server side, you will need to verify the params sent are correct.

[code]

[2018-02-12 15:12] danielrees18 commented on #51
`.receive()` hooks have been added in 0.7.0. As a new feature, let me know if anyone has issues using them. See the wiki for usage guides

[2018-02-12 15:12] #51 closed

[2018-02-12 15:25] danielrees18 opened #84 "Stabilize 0.7.0"
This is a list of things to investigate/change before making `0.7.0` a finalized release

### Things to change
- [ ] Change `.close(reset:)` to default to true instead of false
- [ ] Investigate issue with using `wss://hostname.com` causing:
[code]

### Potentially future release
* Improve error handling when opening a socket
* Allow disable sending heartbeat

[2018-02-20 16:55] thiagodelmotte commented on #72
HEy @danielrees18 I appreciate that! Thank you!

[2018-02-20 18:41] #72 closed

[2018-02-20 18:42] danielrees18 commented on #72
Closing this. Let me know if you have any more problems!

[2018-02-21 00:27] danielrees18 commented on #84
0.8.0 has been released

[2018-02-21 00:27] #84 closed

[2018-02-21 00:29] #70 closed

[2018-02-21 00:31] danielrees18 commented on #35
Supported in 0.8.0

[code]

[2018-02-21 00:31] #35 closed

[2018-02-21 00:32] #65 closed

[2018-02-21 12:35] optikfluffel opened #87 "Params not sent when joining a Channel"
It looks to me like #85 forgot about [`/// The params sent when joining the channel`](https://github.com/davidstump/SwiftPhoenixClient/blob/master/Sources/Channel.swift#L32-L33).

When I try to:

[code]

I never seem to receive the `token` server side.

[2018-03-01 14:49] danielrees18 commented on #87
Good catch! I'll work on getting a patch fix out shortly.

[2018-03-01 15:05] dsrees opened #90 "More robust Unit Tests"
There are some basic Unit tests set up around creating a Socket, but I would love to see a more robust test which sets up a mock server and actually "sends" and "receives" messages back and forth

labeling this as `easy` for now if anyone wants to take up the task.

[2018-03-01 15:06] #87 closed

[2018-03-01 15:16] danielrees18 commented on #87
Available now in release [0.8.1](https://github.com/davidstump/SwiftPhoenixClient/releases/tag/0.8.1)

Let me know if you continue to have any problems and thanks for helping with this project!

[2018-03-03 13:19] optikfluffel opened #92 "Non Working Usage Example"
When trying this example, from the bottom of [the Channels and Events section in the Usage Guide](https://github.com/davidstump/SwiftPhoenixClient/wiki/Usage-Guide#channels-and-events):

[code]

XCode tells me for the `payload["modified"] = true` part that it

[2018-03-29 12:24] ALexanderLonsky opened #93 "No rejoin when loosing network connection"
Hello,
I am using SwiftPhoenixClient in my Mac OS application.

I've just updated to 0.8.1, the previous version was 0.6.0.

0.8.1 does not rejoin.
My code:
`socket = Socket(url: "ws://...")

        socket.onOpen = {
            print("onOpen")
        }
        socket.onClose = {
            print("onClose")
        }
        socket.onError = { error in
            print("onError")
        }

[2018-03-29 14:54] ALexanderLonsky commented on #93
Ok, I see that you removed reconnection Timer and it seems I need to handle it myself.

[2018-03-29 16:37] dsrees commented on #93
@ALexanderLonsky Yes, the rejoin timer was removed due to the change of the structure of the socket. We can look to adding it back in or making it a flag that can be set, but for now it would be best to handle it on your own.

[2018-03-29 16:43] dsrees commented on #92
Docs have been updated

[2018-03-29 16:43] #92 closed

[2018-04-25 20:57] murphb52 opened #94 "Channel `onClose` is never called"
A `Channel`'s `onClose` closure is never called.

It could potentially be hooked into the `leave` method.
Possible fix is to call the closure after channel has been given the ok after a leave event

**Current**:
https://github.com/davidstump/SwiftPhoenixClient/blob/0928fa0e9abdee7a48c3a33292bae5e0c0c45dc7/Sources/Channel.swift#L137-L139

**Proposed**:
[code]

[2018-04-26 02:43] davidstump commented on #94
Looks like that was the original intent with the recent refactor:

https://github.com/davidstump/SwiftPhoenixClient/blob/0928fa0e9abdee7a48c3a33292bae5e0c0c45dc7/Sources/Channel.swift#L129

You agree @dsrees?

[2018-04-26 13:06] dsrees commented on #94
This looks good to me. The channel should inform when it is closed. I'll get fix in shortly. Thanks for pointing this out @murphb52

[2018-04-27 19:19] dsrees commented on #94
The `onClose()` hooks should be invoked in two cases:
1. when the server terminates the channel and
2. when the client leaves the channel.

Both are missing in the SwiftClient.

#96 will resolve #2, but we should add functionality for handing the first state as well.

- [ ] send `onClose()` event when server terminates channel
- [x] send `onClose()` event when client leaves channel

Leaving this i

[2018-05-08 00:34] dsrees commented on #93
@ALexanderLonsky this will be added back to the library in release `0.9.0` along with a way to configure your own logic for when the socket should reconnect. Should be able to release in the next week or so

[2018-06-09 22:00] LucasVanDongen commented on #93
Why hasn't 0.9 been pushed to CocoaPods?

[2018-06-11 19:01] dsrees commented on #93
@LucasVanDongen I was waiting to get some more testing done first before pushing out an official release. I am pretty comfortable with the release however so I'll work on rolling it out.

[2018-06-12 14:30] dsrees commented on #93
0.9.0 is available now which includes a configurable rejoin timer. Wiki is being updated on usage

[2018-06-12 14:30] #93 closed

[2018-06-21 19:46] LucasVanDongen opened #104 "Background disconnect / reconnect strategy"
I have a connection that basically should exist whenever the app is running. iOS will not allow you to run sockets in the background unless you're a VoIP app and basically we're not really doing that. What is the strategy to follow to disconnect and reconnect? We sometimes run into problems with the StarScream layer giving a -1000 protocol layer error when we disconnect when going into background

[2018-06-25 17:55] dsrees commented on #104
@LucasVanDongen In our products we use the AppDelegate methods `applicationDidEnterBackground` and `applicationWillEnterForeground` to disconnect/reconnect our websockets manually. Is this an approach you've already tried? Or are you looking for a way to utilize the reconnect timer at the socket layer?

[2018-06-25 17:59] LucasVanDongen commented on #104
We did and it's pretty solid now. However we had to write logic around reconnecting while disconnecting when you open/close the application quickly. Perhaps I can anonimize it and share it for the demo application?

[2018-06-25 18:03] dsrees commented on #104
Yeah if you want to open a PR to add logic to the demo, that would be greatly appreciated

[2018-07-16 13:10] simpers opened #105 "Can't keep connection up, seemingly different errors every now and then"
Connections dies at random times after initially connecting, most often with the error right here. If I try to reconnect, it does not do anything and usually end up with a new error (will edit and update once I get it the next time).

I have a separate WebSocket connection also using StarScream that is connected to another server, and it seems to be running fine, so I suppose the error could be in

[2018-07-16 13:42] dsrees commented on #105
Thanks for reporting @simpers. Let me know if you get any more errors. I'll look into this and see what else I can find.

[2018-07-16 15:01] dsrees commented on #105
@simpers Thanks for all of that! My initial thought is that it is server side. The Socket is closing with a 1000 code which means it was closed successfully. However that could also be the case if the client requested it be closed.

The client should be reattempting a connection if it was closed due to an error. It won't attempt to reconnect if the client or the server closed the connection (at le

[2018-07-16 17:23] simpers commented on #105
@dsrees I think it might have been this:
   `timeout: 30_000`

I guess depending on the exact timing of this timeout, seeing as the heartbeat also seems to be 30 seconds, that might have caused the `random` disconnects.

I have removed it to see if it helps and it looks promising. However, is there no way to change the  default heartbeat timer of the client?

But how come it is registered as an er

[2018-07-16 17:51] dsrees commented on #105
Good find! You can change the heartbeat interval
[code]

You can also disable it
[code]
See more [here](https://github.com/davidstump/SwiftPhoenixClient/blob/master/Sources/Socket.swift#L21)

I'll have to look into the reconnect logic. There may be something out of place

[2018-07-17 06:30] simpers commented on #105
I'll experiment a bit locally with that setting then.

I guess what really confused me and got me pulling my hair was that it was logged as an error and indicated that something was broken, when it in fact as you say was behaving correctly. The only weird thing was that it was recorded as an error so I tried to fix it somehow and started looking in the wrong place.

[2018-08-01 17:52] tapi opened #106 "SwiftPhoenixClient does not offer a mechanism to configure the underlying `WebSocket` object"
Currently there is no way to configure the underlying socket. In our case we are interested in setting up  SSL Pinning.

It makes sense that the underlying object would be hidden as you don't want some API consumer to inadvertently change the url or delegate on the underlying connection.

How do you feel about method covers for configurable properties such as the security properties outlined [here

[2018-08-02 13:49] dsrees commented on #106
Looks like the link you provided isn't working. If you get that fixed I'll take a look at the outline.

In general, I want to keep the underlying objects hidden, as you mentioned, but am not opposed to exposing some sort of way to build the Socket with configuration.

[2018-08-02 13:52] tapi commented on #106
Sorry about that. Should be fixed now.
FWIW I was just thinking something along the lines of

[2018-08-02 14:37] tapi commented on #106
If that approach sounds good to you then I can submit a PR

[2018-08-02 15:26] dsrees commented on #106
Yeah i like that. A PR would be great, thanks

[2018-08-02 16:13] tapi commented on #106
It looks like theres a soft style preference for 80 char line length in documentation so long as it doesn't affect readability, is my assumption correct?

[2018-08-02 16:37] dsrees commented on #106
correct

[2018-08-02 17:00] dsrees commented on #106
Released in 0.9.1

[2018-08-02 17:00] #106 closed

[2018-08-21 23:19] sjmueller opened #108 "Compilation fails when installed with Carthage"
After adding to `Cartfile`
[code]
Then running `carthage update --platform iOS` and doing a clean build in Xcode:

<img src="https://user-images.githubusercontent.com/29085/44433629-10aabf80-a55c-11e8-8d33-251eb8727b5e.png" width="375" />

The conflict seems to be coming from the `Example` project inside the repo, where the Starscream modulemaps are included:
https://github.com/davidstump/SwiftPho

[2018-08-22 13:12] Lankester opened #109 "Leaked Channels"
My application joins and leaves different channels depending on where the user is in the application.

During some profiling tests I noticed some leaked objects, that appeared to be generated following calls to channel.leave(). Originally I assumed it was my code but in the end I managed to find the following in the memory debugger which seems to indicate an orphaned channel, several closure conte

[2018-08-22 13:38] dsrees commented on #108
Thanks for the report. I'll take a look

[2018-08-22 13:39] dsrees commented on #109
Hmmm looks like a reasonable solution, but I'm curious if there's a better way we can manage channel instances. I'll take a look into it. Thanks for reporting this!

[2018-08-27 18:00] darrenclark commented on #109
Ran into this issue as well.

I wondering an approach like @Lankester's https://github.com/Lankester/SwiftPhoenixClient/commit/0c5c263776238bf0af8c9cc1e20937e739294eab , but using `weak` references would be a good option?

I think there is a potential for some subtle crashes with using `unowned`.  For example, changing [`Push.channel`](https://github.com/davidstump/SwiftPhoenixClient/blob/b2e7b696

[2018-08-27 19:04] dsrees commented on #109
I would be happy to review a PR if you could put one together @darrenclark. I was thinking along the same lines. I didn't think simply `unowned` would solve the problem.

[2018-08-27 19:41] darrenclark commented on #109
Cool, i'll take a stab at it

[2018-08-27 19:49] Lankester commented on #109
Sorry, I missed the `timeoutTimer` closure calling `self` in `Push`. `weak` should do it.

[2018-08-28 13:43] dsrees commented on #109
Not a problem @Lankester! We still appreciate you reporting the issue! I'll be sure to get a release out as soon as a fix is approved.

[2018-08-28 15:00] darrenclark opened #110 "Socket "leak""
While looking at #109, discovered that the `Socket` class "leaks" because a [Timer holds onto a strong reference to it](https://github.com/davidstump/SwiftPhoenixClient/blob/b2e7b69607d5fd6f8a7ec05f063f78012ba9551a/Sources/Socket.swift#L415-L418), even after calling [`disconnect()`](https://github.com/davidstump/SwiftPhoenixClient/blob/b2e7b69607d5fd6f8a7ec05f063f78012ba9551a/Sources/Socket.swift#

[2018-08-29 06:04] sjmueller opened #113 "Upload to app store fails"
When installing `SwiftPhoenixClient` with Carthage, uploading to the app store fails with duplicate `Starscream` bundles:

![image](https://user-images.githubusercontent.com/29085/44768580-a0c9a580-ab16-11e8-9734-869622bfb277.png)

[2018-08-29 12:59] dsrees commented on #113
@sjmueller thanks for reporting and linking to that other issue. I'll take a look into it

[2018-08-30 01:26] #109 closed

[2018-08-30 18:29] #110 closed

[2018-08-31 23:00] dsrees commented on #108
@sjmueller could you please share your cartfile?

[2018-08-31 23:29] dsrees commented on #113
@sjmueller Could you please point your project to the branch `dr/carthage_dupe_issue` and see if that resolves your problem on a clean build? Thanks

[2018-09-09 00:32] #108 closed

[2018-09-09 00:32] #113 closed

[2018-09-18 14:00] simpers commented on #34
What is the status on this?

We probably need this urgently and so if it isn't already fixed/merged I might take it upon myself tomorrow to get it done. Let me know @davidstump

[2018-09-18 14:06] davidstump commented on #34
I'll defer a little to @dsrees as the active maintainer - but I know there is some implementation work done:

https://github.com/davidstump/SwiftPhoenixClient/blob/master/Sources/Presence.swift

If you are going to do any additional work - that might be a good starting point.

Cheers.

[2018-09-18 14:10] simpers commented on #34
@davidstump thanks for the quick reply!

I'll see what I can do tomorrow then 👍

[2018-09-18 14:26] dsrees commented on #34
@simpers Would love a contribution on this! The Presence class mentioned above by @davidstump hasn't been touched in awhile, though it would be a good place to start. I'll be happy to work with you to get Presence working!

[2018-09-18 17:11] dsrees commented on #34
@simpers , I am: @dsrees

I'll also take a look into this

[2018-09-28 08:29] AntonBreza opened #118 "Payload data loses"
I was trying to join the channel using Socket join function:
`func join(topic: String, message: Message, callback: @escaping ((Any) -> Void))`
with topic:
`payload:url!!!s3.amazonaws.com/tunevu/static/Media/ZEE/The+Voice+India+Kids+Season+2+(Hindi)+-+December+23%252C+2017++Watch.mp4`
However, I am not able to do this as my initial message is mutated:
`{"event":"phx_join","topic":"payload:url!!!s3.

[2018-09-28 13:16] dsrees commented on #118
Hmm, so your `topic` in this case is
[code]

and you are sending an empty payload?

[2018-09-28 13:29] dsrees commented on #118
Which version of SwiftPhoenixClient are you using?

[2018-09-28 13:31] AntonBreza commented on #118
SwiftPhoenixClient (0.6.0)

[2018-09-28 13:36] dsrees commented on #118
Latest is 0.9.2. Would you be able to try to update and see what behavior occurs?

We have made a good number of changes to the library since 0.6 so you will probably also need to make changes to your usage of the client, namely the method `socket.join()` to join a channel no longer exists.

you can checkout the [usage guide](https://github.com/davidstump/SwiftPhoenixClient/wiki/Usage-Guide) to he

[2018-09-28 13:44] AntonBreza commented on #118
OK, thanks for quick response! I will try to update and let you know if the problem will persist

[2018-10-17 00:49] imann24 opened #121 "tvOS Support"
Hi, does this package support tvOS?

[2018-10-17 01:40] dsrees commented on #121
@imann24 I have not personally tested this or made efforts to guarantee its support. Feel free to try it out and let me know how it goes. I'd be happy to have support added

[2018-11-15 03:03] astjohn opened #122 "Connectivity Issues"
Hi there. Thank you for the fantastic library! I am hoping you might have some insight into some connectivity issues I'm experiencing with our staging server on Google Cloud Services.

On a local (tunnelled) server, the logs look something like the following and everything is stable and perfect.

[code]

However, when we connect to our staging server on GCS, things go nuts after the first heartbea

[2018-11-16 18:00] astjohn commented on #105
@simpers - any result on this? I'm seeing similar issues (#122), but only on our staging server... Were you able to resolve it on your end?

[2018-11-18 14:02] astjohn commented on #122
This came down to server configuration on Google's Load Balancers.
From [their docs:](https://cloud.google.com/load-balancing/docs/backend-service#timeout-setting)

So we only had to bump the "timeout" setting on our load balancer.

[2018-11-18 14:02] #122 closed

[2018-11-19 13:50] dsrees commented on #105
@astjohn @simpers Glad you were both able to resolve this by adjusting the server timeout.

[2018-11-19 13:50] #105 closed

[2019-01-17 18:47] denis-forti opened #124 "How to use with RxSwift"
SwiftPhoenixClient is based on Starscream. There is a great rx-wrapper [https://github.com/RxSwiftCommunity/RxStarscream](url) for Starscream. What do you think, is it possible to use it somehow ?

[2019-01-17 20:40] dsrees commented on #124
@denis-forti Currently, no there is no Rx way of using this client. I would love to make an RxSwift wrapper around this client. Glad to see there is some interest if I pursued building this. Maybe I'll start tinkering with it

Thanks for the idea!

[2019-01-18 11:12] denis-forti commented on #124
Ok, thank you for answer.

[2019-01-18 11:12] #124 closed

[2019-03-11 17:13] dsrees opened #127 "1.0.0 Release"
Issue tracker for things to work on for 1.0 release. I would like 1.0 to be a full-fledge implementation with solid test coverage, documentation, examples, etc along with some nice extras such as optional automatic retain cycle handling and rx extensions

- [x] Retain Cycle Management
- [x] Thorough test coverage
- [x] Full Presence support and test
- [ ] RxSwift Extensions (may be pushed back to

[2019-03-11 17:14] dsrees commented on #90
Closing under 1.0 milestone

[2019-03-11 17:14] #90 closed

[2019-04-02 02:00] dsrees commented on #34
finished in #129. Will be fully supported in 1.x

[2019-04-02 02:00] #34 closed

[2019-04-02 02:03] dsrees commented on #52
I do not believe this is an issue any longer. closing for now.

[2019-04-02 02:03] #52 closed

[2019-04-08 18:05] DmitryPR opened #131 "Carthage Starscream 3.0.1 Swift 5"
Hello, Starscream  3.0.1 dependency uses Swift 5.0 but most projects are still using Swift 4.2

Could you fix the version in Cartfile as 3.0?

error: SWIFT_VERSION '5.0' is unsupported, supported versions are: 3.0, 4.0, 4.2. (in target 'Starscream')

Build system information
error: SWIFT_VERSION '5.0' is unsupported, supported versions are: 3.0, 4.0, 4.2. (in target 'Starscream')

** ARCHIVE FAILE

[2019-04-08 18:20] dsrees commented on #131
Sure thing. I'm planning on a release sometime this week so i'll be sure it's included in that

[2019-04-09 01:19] dsrees commented on #131
will be available in 1.0 release

[2019-04-09 01:19] #131 closed

[2019-04-09 13:09] dsrees commented on #127
Released 🎉

[2019-04-09 13:09] #127 closed

[2019-05-07 14:16] dsrees opened #136 "Swift 5 update"
Update the client to target swift 5 in version 1.1. 1.0 will be available for 4.2

[2019-05-07 14:17] dsrees opened #137 "Abstract away the Transport layer to change the underlying Websocket library"

[2019-05-07 14:20] dsrees opened #138 "RxSwift support"
Provide an Rx extension to the client

Progress Checklist

- [x]  Restructure project to have single targets that support multiple platforms (#147)
- [x] Add RxSwift as a second target that depends upon the main SwiftPhoenix target (#147)
- [x] Add client code and tests back into the project under the SwiftPhoenix target (#148)
- [x] Add initial Rx extension to `channel.on` function (#149)
- [x] E

[2019-05-12 23:47] mudphone commented on #34
🔥🔥🔥

[2019-06-12 16:17] sjmueller opened #140 "WWDC 19 Native websocket announcement"
With native websockets being announced during “Advances in Networking”, it looks like Starscream is retiring: https://github.com/daltoniam/Starscream/pull/653#issuecomment-499738690

Any plans to switch SwiftPhoenixClient to the new native implementation?

[2019-06-12 16:33] dsrees commented on #140
I still need to do some research into this. Reading that comment looks like Starscream may still stick around based on backwards compatibility.

Ideally i would like make the client configurable so you can use any websocket implementation you would like.

[2019-06-12 16:43] dsrees commented on #137
This becomes, I think, even more useful now with `URLSession` support WebSocket tasks on iOS 13+

[2019-06-12 16:43] dsrees commented on #136
available in v1.1

[2019-06-12 16:43] #136 closed

[2019-06-20 18:39] jatindervrify opened #142 "Minor memory leak in Pushes that have not timed out/cancelled timeout when Channel closes"
When performing a Push and then closing a channel, the timeout work item never releases the Push due to the strong retaining of self on Line 240 of Push.swift

[code]

changing this closure to use [weak self] resolves the issue

[code]

Screenshots:

![image](https://user-images.githubusercontent.com/41025959/59873071-14f86280-9350-11e9-82b9-ace2598b797f.png)

![image](https://user-images.githubus

[2019-07-18 00:57] dsrees commented on #142
Finally getting around to looking into this. Turns out if you add `[weak self]` to the callback, then the callback is deallocated regardless unless you hold on to a reference of the `Push` when sending it, meaning a legit timeout won't be handled successfully.

[code]

unless you hold reference to the Push

[code]

I'll have to keep looking into this

[2019-08-15 03:31] jklp commented on #121
@imann24 I've created a PR at #141 which is now running on our live Apple TV app (zova.com).  The only problem is the Travis build is failing because Jazzy was commented out in the `Gemfile` in the prior commit without the `Gemfile.lock` being updated (8e476c284542c9b7ee7fa8e52470c933463dd20c).

I'm hesitant to add an updated `Gemfile.lock` to my PR in case there's something which needs to be reso

[2019-08-15 03:37] imann24 commented on #121
Hi! I haven't had the chance to integrate our tvOS app w/ this client (or with Phoenix Framework unfortunately).

If I happen to start the work back up, more than happy to dig in to your PR. Otherwise, not sure I'm a great subject matter expert here.

I assume @dsrees can speak to the Travis issue?

[2019-08-15 03:48] jklp commented on #121
Oh my apologies, I replied to the wrong person! Yes was meant to @reply dsress

[2019-08-15 03:49] imann24 commented on #121
No worries!

[2019-08-19 13:26] dsrees commented on #121
Hey guys, sorry for the delay and for not getting to that PR sooner. Jazzy was messing up something a few months back, i believe it's safe to get it updated. I'll take a look into this

[2019-09-03 19:03] dsrees commented on #121
Just released v1.1.1 with @jklp changes

[2019-09-03 19:03] #121 closed

[2019-10-17 12:57] dsrees commented on #138
Active work for this is available in the `rxswift` branch. Issue will be closed when merged to master

[2019-12-12 12:15] optikfluffel opened #154 "Support Swift Package Manager in Xcode 11"
It would be really nice to be able to use the Swift Package Manager, since it's built right into Xcode now.

[2019-12-12 19:43] dsrees commented on #154
You should already be able to

[code]

[2019-12-18 21:59] optikfluffel commented on #154
I can add it via Xcode:

<img width="1392" alt="Screenshot 2019-12-18 at 22 55 54" src="https://user-images.githubusercontent.com/379915/71126681-c423d280-21e9-11ea-8844-d71b2c811de4.png">

But as soon as I try to import it anywhere, I just get `No such module 'SwiftPhoenixClient'`:

![Screenshot 2019-12-18 at 22 51 20](https://user-images.githubusercontent.com/379915/71126496-65f6ef80-21e9-11ea-9

[2019-12-20 14:45] dsrees commented on #154
Hmm, looks like xcode isn't recognizing the library. I'll have to look more into this.

[2019-12-23 15:48] dsrees commented on #154
Fixed in 1.2.0

[2019-12-23 15:48] #154 closed

[2019-12-23 20:08] linovate opened #157 "minimum iOS target must be '9.0' is a Deal Breaker for my app."
I have an existing iOS app with quite a few newer features/framework from iOS 10 and iOS 11, which requires me to set minimum iOS target to 11.0 (or higher).  I would love to add chat feature using SwiftPhoenixClient but can't do that simply because my minimum iOS target has to be higher than 9.0.   Rewriting those iOS 10 and 11 features with the equivalent of iOS 9 or older takes too much time an

[2019-12-24 09:09] optikfluffel commented on #154
Thank you so much!

[2019-12-24 13:13] dsrees commented on #157
Is xcode giving you an error? If the minimum is iOS 9 and you're targeting 11, everything should work just fine. An issue would arise if you were targeting iOS 8 for example and this library required you to target 9.

[2019-12-25 02:03] linovate commented on #157
Yes, Xcode gives me errors:

self.lobbyChannel = channel  // ERROR: Cannot assign value of type 'Channel' to type 'Channel?'

self.lobbyChannel
            .join()
            .delegateReceive("ok", to: self) { (self, _) in

                self.navigationItem.title = "[anonymous entered]"
                print("[anonymous entered]")
                self.addText("Joined Channel")

            }.de

[2019-12-30 14:13] dsrees commented on #157
[code]

Is correct if you are running Swift 4.x.

Your error has nothing to do with the minimum version of Swift, but instead that you are assigning `channel` which is of _optional_ type `Channel?` to `self.lobbyChannel` which appears to be of _non-optional_ type `Channel`. I don't know where `channel` is coming from but changing `self.lobbyChannel` to

[code]

and then calling
[code]

should clea

[2020-01-08 02:00] sjmueller commented on #138
Is Apple's `Combine.framework` being considered rather than rxswift?

[2020-01-20 14:06] dsrees commented on #138
It is not, seeing that it limits the target to iOS 13, removing support for older versions of iOS. Ideally I would like to make the lib behave similar to `Moya` which has multiple targets supporting `Reactive`, `Rx`, `Combine`, etc. I haven't had time to work on this however so its not currently a high priority for me.

[2020-01-22 20:23] dchohfi commented on #138
Is this planed to be released? Need help to finish implementation?

[2020-02-06 12:27] cultofmetatron opened #158 "is there a integration for this and apollo-ios?"
currently, I have a subscription endpoint working in web but I need to access it via ios. as I understand it, there needs to be a transport layer adapter between apollo-ios and swiftphoenixclient. is there currently an adapter existing to do this?

[2020-02-06 14:13] dsrees commented on #158
I haven't used apollo much so I can't say I'm familiar with the problem that you are looking to solve. But no, there is no adapter. If you could provide more information on what you're trying to do or maybe documentation somewhere, then i might be able to help figure out a solution?

[2020-02-17 14:52] eoinoconnell opened #159 "Callbacks on a different queue"
Hi, I'm looking to set the callbackQueue on the underlying WebSocket from starscream. I think the best solution would be to make the init for Socket.swift to be public, I can then set my own transport and init my own WebSocket and set the fields I like.

I can send off a PR if you like, or if you have any better existing solution that would be great

[2020-02-17 15:58] dsrees commented on #159
This is something ive been meaning to add to the project. Ideally you should be able to use _any_ websocket liobrary you would like, configured in any way you'd like. I think your PR is a good quick fix but let me take a little bit of a deeper look into this.

[2020-02-17 16:00] eoinoconnell commented on #159
Yeah no problem at all, I'm using my fork for now. Enjoy presidents day

[2020-03-03 00:14] richard-ash opened #163 "Configure client to be compatible with v2_json_serializer.ex"
Is there a way to configure `Socket` to be compatible with the [Phoenix v2 json serializer](https://github.com/phoenixframework/phoenix/blob/master/lib/phoenix/socket/serializers/v2_json_serializer.ex)?

Seems like the diff between v1 & v2 is that v2 uses arrays to encode the message instead of a dictionary, but seems like `Socket` will always send a dictionary

[2020-03-03 17:25] dsrees commented on #163
You can override the `encode` and `decode` closures of the `Socket` to provide custom behavior

https://github.com/davidstump/SwiftPhoenixClient/blob/master/Sources/Socket.swift#L86

[code]

[2020-03-15 22:26] richard-ash commented on #163
Awesome thanks! 😄

[2020-03-15 22:26] #163 closed

[2020-04-09 01:31] chamitha opened #164 "Error Installing using Carthage"
Carthage is throwing an error when installing;

[code]

I'm using Xcode 11.3 with Build Tools. The relevant excerpt from the log is;

[code]

Any thoughts? Thanks!

[2020-04-09 03:26] fredxinfan opened #165 "Support for Phoenix V2 JSON serializer?"
It seems the client is still using  V1 JSON serializer by default. Any plan to support V2 JSON serializer?

[2020-04-09 14:57] dsrees commented on #165
You can use your own serializer to to support v2. See #163

[2020-04-15 09:36] chamitha commented on #164
Anyone know the cause of this error?

[2020-04-15 13:37] dsrees commented on #164
@chamitha sorry for not replying sooner. I am not very familiar with carthage so i'm not much help here at the moment. I'll take some time to look into this today though and see if I can reproduce

[2020-04-15 22:39] chamitha commented on #164
Thanks @dsrees

[2020-04-20 01:55] chamitha commented on #164
@dsrees Did you get a chance to look into this? Cheers

[2020-04-21 01:52] dsrees commented on #164
@chamitha I'm able to reproduce. I'll keep investigating

[2020-04-21 13:45] #157 closed

[2020-04-24 00:32] dsrees commented on #164
@chamitha this was caused by Starscream introducing a new API in v4.x that broke the client. I'm releasing a version that pins starscream to the previous 3.x API.

[2020-04-24 00:33] chamitha commented on #164
No worries. Thanks for fixing.

[2020-04-24 00:48] dsrees commented on #164
Resolved in 1.2.1

[2020-04-24 00:48] #164 closed

[2020-04-26 12:53] fxn opened #169 "Error compiling a hello world program"
Totally new to Swift and not familiar with its tooling.

I've written a minimal `main.swift` that connects to a WebSocket and finishes, but compilation fails with:

[code]

There are also a bunch of warnings and notes.

I am working with a vanilla project structure generated by SPM.

macOS is 10.15.4, Swift is 5.2.2, Xcode is 11.4.1, and `SwiftPhoenixClient` is 1.2.1, according to `Package.resolve

[2020-04-26 13:32] dsrees commented on #169
Looks like youre building a mac application? What is your target OS?

[2020-04-26 13:32] #165 closed

[2020-04-26 13:47] fxn commented on #169
I want to write a command-line executable to exercise some channels I am developing from outside the test suite. Is that possible?

[2020-04-27 21:23] dsrees commented on #169
Current target is for iOS and tvOS. I'm not sure if youd be able to build for a CLI. Not something I have experimented with, especially using SPM

[2020-04-27 21:35] fxn commented on #169
Please feel free to close then, I'm going to write this client in Elixir itself.

Thanks anyway!

[2020-04-28 00:51] #169 closed

[2020-07-01 09:25] peteranny opened #172 "Inconsistent dependency between podspec and Cartfile"
Just found different dependent versions in podspec and Cartfile

https://github.com/davidstump/SwiftPhoenixClient/blob/master/SwiftPhoenixClient.podspec#L43
[code]

https://github.com/davidstump/SwiftPhoenixClient/blob/master/Cartfile#L1
[code]

Should they be consistent?

[2020-07-02 13:59] dsrees commented on #172
see #168

Looks like there is a version 3.1.1 which it could be pinned to

[2020-07-06 13:15] #172 closed

[2020-08-20 14:29] dsrees commented on #159
Resolved in v1.3.0

[2020-08-20 14:29] #159 closed

[2020-08-20 14:29] #158 closed

[2020-09-10 04:14] sjmueller commented on #140
I have built a custom version of SwiftPhoenixClient that uses `URLSessionWebSocketTask` instead of Starscream, lmk if the code is of interest.

[2020-09-14 13:45] dsrees commented on #140
If you want to share it, then I'd be interested in taking a look

[2020-10-21 13:44] kamil3 opened #174 "Cannot build version 1.3.0 via Carthage"
`Xcode 12.0.1 (12A7300)`

Logs:
[code]

`1.1.1` version builds fine. All the higher versions do not. For `1.2.0` there is another error.

[2020-10-21 14:15] dsrees commented on #174
Is this new for Xcode 12.x or have you also tested this on Xcode 11.x?

[2020-11-16 17:14] nateboxer commented on #174
I had the exact same failure with xcode 12.2.

First off, use the latest script from here: https://github.com/Carthage/Carthage/issues/3019

I eventually got it to build by deleting the /Carthage/Checkouts/SwiftPhoenixClient and running carhage bootstrap.

[2020-11-25 17:47] kamil3 commented on #174
@nateboxer I does not work either.
@dsrees With `Xcode 11.7` I have very similar error:
[code]

[2020-11-25 17:51] dsrees commented on #174
Okay I'll take a look into this

[2020-12-20 04:31] artfulhippo commented on #140
Yes, please share this code

[2021-03-09 02:06] tonyarkles opened #176 "Confusion about Channel rejoin"
I saw #93 but don't entirely get what's going on here. If necessary I can try to put together a minimal PoC to demonstrate.

- I create a socket, create and join a channel on the socket, and then connect the socket.
- The server is currently down, so socket.onError and socket.onClose fire
- I bring the server up. socket.onOpen gets called, followed by Channel.rejoin. Have successfully rejoined.
-

[2021-03-11 02:20] dsrees commented on #176
No i believe there is an existing bug in the channel rejoin process. I'm slowly in the process of making some changes to the library in which i've addressed this. If you could, could you point your dependency manager to use the `2.x` branch and see if that works for you?

[2021-03-11 02:25] tonyarkles commented on #176
I'll try it out right now!

[2021-03-11 02:57] tonyarkles commented on #176
I'm going to have to play with this a bit more tomorrow when I'm less sleepy. There still seems to be something weird going on, although it could have to do with API changes in the new version as well. Two unfounded observations (that I'll verify):

- If I start the app while the server is down, it seems to connect the socket properly when the server comes back, but the channel doesn't appear to g

[2021-03-11 12:55] dsrees commented on #176
Thanks @tonyarkles. It would be helpful to know if you are using the default URLSessionTransport or the StarscreamTransport.

[2021-03-15 12:23] tonyarkles commented on #176
@dsrees Looks like I'm using URLSessionTransport (default, I didn't change my socket creation code at all from the older version)

There's an interesting thing I'm chasing down this morning for a bit to hopefully find the source. If I start the app with the backend down and then start the backend, I get two join requests on the backend, with this nice message in between them:

[code]

I haven't ye

[2021-03-15 13:59] tonyarkles commented on #176
It *looks like* the original join push is getting saved, and then once the connection is established it:

- sends the original join request
- The Channel's `self.socket?.delegateOnOpen` callback triggers another join request

The original join request succeeds, the second one also succeeds, but the backend sends a "close" response back to the first join and that results in the Channel entering the

[2021-03-16 00:21] dsrees commented on #176
@tonyarkles Thanks for digging. I think i figured out what might be wrong. I'll work on getting a fix

[2021-03-19 14:57] dsrees commented on #176
@tonyarkles I've pushed an updated to 2.x. I've tested it out pretty well and not seeing the issue we've been talking about any longer. Can you give it a try in your project and make sure you're no longer seeing this behavior? Thanks!

[2021-03-24 21:43] jonesrajee opened #178 "Support iOS 13 min"
Is there a way to get this to work with iOS 13 as the min target?

Starscream currently has deprecations for iOS 13, and I can not get this library to work

https://github.com/daltoniam/Starscream/issues/857
https://github.com/daltoniam/Starscream/issues/868

[2021-03-26 18:34] dsrees commented on #178
I don't see an issue here? I was able to create an xcode project, target iOS 13, add the library and create a socket without any warnings. Can you be more clear in what issue you're having?

[2021-03-26 18:36] dsrees commented on #178
If you want to try targeting the `2.x` branch as your dependency, then you can do that. It supports URLSession's websocket by default which has a minimum of iOS 13.

[2021-03-27 02:42] aj-foster opened #179 "Question: Control retries with NWPathMonitor"
Hello there. I'm currently using 1.3; haven't checked out the 2.x branch. This question probably works for both, however.

I'm interested in halting connection attempts if `NWPathMonitor` tells me that the device has lost connection to the internet. Intuition tells me we can call `disconnect(code:callback:)` on the socket if that happens, and `connect()` when the connection returns.

Given that th

[2021-03-27 21:40] dsrees commented on #179
`disconnect()` should halt the reconnect process.

[2021-03-29 14:41] #179 closed

[2021-04-05 18:46] jonesrajee commented on #178
`You can install SwiftPhoenix Client via CocoaPods by adding the following to your Podfile. Keep in mind that in order to use Swift Phoenix Client, the minimum iOS target must be '9.0'`

[2021-04-05 19:17] jonesrajee commented on #178
@dsrees when do you expect the `2.x` branch to release?

[2021-04-06 13:17] dsrees commented on #178
That sentence is worded poorly. You can target any iOS version >= 9.0. SwiftPhoenixClient does not require you set your minimum to 9.0, it requires that you don't set it to anything prior to 9.0, such as 8.x (which at this point, basically no one is using)

Are you actually having any warnings or errors in Xcode when attempting to intall SwiftPhoenixClient?

[2021-04-06 13:39] jonesrajee commented on #178
@dsrees Yes, your master branch does not work if the minimum target is iOS 13 which you advised to use the unreleased 2.x branch.

If I use that branch, via Cocoapods or SPM, it’s not working because of the error I mentioned here:

https://github.com/davidstump/SwiftPhoenixClient/issues/178#issuecomment-813588260

My question is; when should we expect the 2.x branch to be released and supported so

[2021-04-06 14:33] dsrees commented on #178
are you using SwiftPhoenixClient in an app or are you using it as a dependency for another library?

[2021-04-06 14:34] jonesrajee commented on #178
Yes, I am trying to use it as a dependency for a internal framework

[2021-04-06 14:57] dsrees commented on #178
The 2.x branch does not support library evolution yet. I dont know if RxSwift or Starscream do either. If they do not, then I cannot either.

There's nothing I can change currently until I verify this more.

[2021-04-09 16:17] jonesrajee commented on #178
Going to close this as I wait for 2.x release

I reformatted my .framework into a Swift Package which has a dependency on this repo. This allowed me to pull it into my apps without the library evolution issue and iOS 13 is working on this branch.

(I cant figure out why my server handshake won't work without using StarscreamsTransport but ill figure that out another time)

[2021-04-09 16:17] #178 closed

[2021-04-13 13:01] tonyarkles commented on #176
@dsrees I just noticed the email notification in my overflowing inbox. Apologies for not getting back to you sooner! I'll pull it down and try it out tonight!

[2021-05-06 21:51] ruslandoga opened #181 "Question channel rejoin after socket reconnect"
👋

I have two questions:

1. Do `socket.channels` get automatically rejoined if socket reconnects? I'm running `socket.disconnect()` when app goes to background and `socket.connect()` when it goes back into foreground (similar to https://github.com/davidstump/SwiftPhoenixClient/issues/104#issuecomment-400039762, I guess) and it doesn't seem to be the case. I'm not seeing `JOINED` logs on the serve

[2021-05-06 21:55] ruslandoga commented on #181
re 1. it doesn't seem like channels are rejoined on `connect` after clean `disconnect`. But then I wonder why `socket.channels` are not cleaned up on `socket.disconnect()`?

[2021-05-07 14:45] dsrees commented on #181
Thanks for the issue! I believe that the client is working as designed. A channel can only `.join()` once.

[code]

After calling `socket.disconnect()`, the  channels should be moved to the `closed` state and are considered finished. In order to open the Channels again after calling `socket.connect()` then you will have to re-create new Channels.

When a `Channel` closes then it should remove itse

[2021-05-07 15:04] ruslandoga commented on #181
@dsrees ah, perfect. I guess I misused the library since I kind of relied on channels automatically rejoining if socket is connected (both after network issues and after manual disconnect -> connect).

I can make a repo where channels stay in the socket after it disconnects and then connects back.

[2021-05-07 15:04] #181 closed

[2021-05-07 15:08] ruslandoga commented on #181
Actually, channels might be staying in socket.channels after disconnect due to my misuse. I keep references to the channels in service objects, so when the app comes back into foreground, ARC doesn't release the channels even though they are defunct now ...

[2021-05-07 15:13] dsrees commented on #181
Just declare your channels as optional and then set them to nil when you call `socket.disconnect()`

[2021-05-20 18:43] dsrees commented on #138
v2.0.0 was released which includes support for RxSwift. Currently, only the `channel.on(event)` has been made reactive. If there are other features/functions you think would benefit from RxSwift, please open a new issue

[2021-05-20 18:43] #138 closed

[2021-05-22 07:09] JetForMe opened #184 "Can't use SPM depdency with Apollo, because Apollo requires Starscream >= 4.0, and SPC <4.0"
I can't use this with Apollo, because Apollo requires Starscream >= 4.0, and SPC <4.0. I was hoping SwiftPhoenixClient 2.0 would update to the more recent Starscream, but alas it does not. Any chance of that happening?

Here's the error I get when I try to use SPM for both SPC and Apollo:

[code]

We were using CocoaPods for Apollo, and that seemed to work, but I'm trying to move away from CocoaPo

[2021-05-24 14:26] dsrees commented on #184
So I was initially planning on using starscream 4 but ran into issues into how to reports failed connection attempts to the delegate which broke the Client's reconnection strategy so I kept it pinned to 3.x. I also need to provide an update to use RxSwift 6.x so I will probably create a 2.x and 3.x branch that updates dependencies.

I'll take a look over your PR and see if we can't get Starscream

[2021-06-04 14:13] dsrees commented on #174
2.x is available. Should resolve this issue

[2021-06-04 14:13] #174 closed

[2021-06-04 14:13] dsrees commented on #140
2.x is released which supports URLSessionWebsocketTask for clients targeting iOS >= 13

[2021-06-04 14:13] #140 closed

[2021-06-20 10:36] Gamec opened #188 "Crash in HeartbeatTimer.swift"
After updating to SwiftPhoenixClient 2.0 (happens in 2.1 too) I started getting crash reports from HeartbeatTimer. They are pretty rare, I didn't manage to reproduce it myself. Maybe you have any idea why they are happening?

This is line 74 crashing:
[code]

That's line 93 crashing:

[code]

[2021-06-21 01:54] dsrees commented on #188
Thanks for the issue. Seems like there may be a bug in the way the `HeartbeatTimer` interacts with it's `DispatchSourceTimer`. I'll try to look more into it.

[2021-06-28 12:38] srikanth-chetu opened #189 "How to save the response from the events in JSON?"
Hi Team,

1) When i am trying to save the presence list in one variable it saving as raw data and it is not coming in JSON format. How can save the data in JSON format?.

2) How can I initiate the "call" event, while initiating, I am getting phx_error response from socket.

Could you please any sample application related to the Call feature. Thanks in advance

[2021-06-28 13:42] dsrees commented on #189
@srikanth-chetu could you please provide a short code sample of what you have implemented? That would help provide some context. thanks

[2021-07-26 07:24] Gamec commented on #188
@dsrees any update on that?

[2021-07-26 17:20] dsrees commented on #188
No sorry, I've been generally very busy lately. I am trying to set aside some time to take care of a couple of issues for this project. I will update here when I get around to it.

If you have time and want to try to figure it out, I would be happy to review a PR.

[2021-08-04 10:01] tankista commented on #188
I have very similar timer class and the same crash. Problem is most likely with lazy property when accessed at the same time via multiple threads.

[2021-08-05 17:03] #189 closed

[2021-08-05 20:23] srikanth-chetu commented on #104
Hi, Can you share the code snippet to handle this?

[2021-08-06 19:24] JetForMe opened #191 "Data"
This might be related to #188, but Xcode reports a data race in the following when the Thread Sanitizer is turned on.

[code]

[2021-08-07 09:14] srikanth-chetu opened #192 "How to handle socket in background state"
Hi Team,

When we are clicking on the home button on the device, automatically presence diff is calling and the user going offline. Please suggest, how to keep socket connection always. And how to integrate with CallKit .

[2021-08-10 09:55] srikanth-chetu commented on #104
Hi @LucasVanDongen ,

If possible, can you share the logic of how you handle socket connections in background mode?. It would be helpful for us.

Thanks in advance.

[2021-08-11 13:56] dsrees commented on #104
You're going to have a hard time keeping the socket alive while the app is in the background. iOS will kill it at will whenever it wants. If you want to make sure your socket properly reconnects when the app is opened from the background then you'll want to use `UIApplication.willEnterForegroundNotification`. This will have iOS notify your app when it comes back in the foreground and then you can

[2021-08-23 16:22] dsrees commented on #176
Closing this assuming its been resolved in 2.x. Feel free to comment back if you're having an issue still

[2021-08-23 16:22] #176 closed

[2021-08-24 15:28] dsrees commented on #191
Thanks for reporting this find. Version 2.1.1 is out which fixes thread safety in HeartbeatTimer

[2021-08-24 15:28] #191 closed

[2021-08-24 15:28] dsrees commented on #188
Thanks for everyone for reporting on this Version 2.1.1 is out which fixes thread safety in HeartbeatTimer

[2021-08-24 15:28] #188 closed

[2021-09-21 19:38] fractal-def opened #197 "Stopping reconnecting when Socket errors"
I may be missing something totally obvious, but I've spent a few hours trying to figure it out to no avail.

## Background

I am trying to handle the case when Phoenix rejects the Socket due to an invalid auth token. On the server-side the Phoneix.Socket returns `:error`.

## Issue

I am trying to use the `socket.onError` or `socket.delegateOnError` to tell the socket to disconnect. It does discon

[2021-09-22 02:02] #197 closed

[2021-09-22 07:49] morgz commented on #184
Apollo has since rollback to Starscream 3 after reliability issues

[2021-09-23 14:44] dsrees commented on #184
👍🏼 Thanks @morgz

[2021-09-23 14:44] #184 closed

[2021-10-08 22:45] BryanJBryce opened #198 "Dead link in ReadMe"
The link to the example view controller is dead.

[2021-10-08 22:47] BryanJBryce opened #199 "SPM Error"
Xcode 15

Adding the repo to SPM gives this error
![image](https://user-images.githubusercontent.com/1293064/136632205-cddfd2f5-320d-496b-bc54-9309c0f53bb9.png)

[2021-10-22 13:09] morgz opened #201 "[feature request] Timeout Callback"
This library is brilliant. Thanks for all your hard work.

I was wondering. On a push timeout, would it be possible to be notified by callback

Something like this:

[code]

[2021-10-26 16:00] ruslandoga opened #202 "race condition in close/join events with v1 serialiser"
👋

# What happens

We are encountering a race condition where `phx_close` events for channel instances of `phx_leave`d `join_ref`s are closing channel instances of newer (not `phx_leave`d) `join_ref`s.

Example logs:

[code]

# What's expected to happen

`phx_close` needs to take into account `join_ref` of the channel before closing it

# Why it happens

This happens because [`Phoenix.Socket.V1.JS

[2021-10-28 01:28] #201 closed, assigned to nobody

[2021-11-01 14:12] ruslandoga opened #205 "2.2.0 doesn't call receive callbacks"
[code]

`receive` callbacks are not executed, nothing is printed in the console

Logs from server:

[code]

[2021-11-01 14:13] ruslandoga commented on #205
Repro client: https://github.com/ruslandoga/phx-socket

Repro server:

[2021-11-01 14:19] ruslandoga commented on #205
version 2.1.0 works,

[code]
is printed in the console

[2021-11-01 14:30] #205 closed

[2021-11-05 15:56] #202 closed

[2021-11-05 16:13] dsrees commented on #202
Released in 3.x

[2021-11-08 20:33] JetForMe commented on #184
I can try to use the URLSessionWebSocketTask implementation, but if the Package.swift file doesn't provide a way to resolve the Starscream version conflict, I'm not sure what to do.

[2021-11-09 18:15] dsrees commented on #184
It should allow for it. The core client doesn't include starscream.

[code]

You should be able to just use

[code]

and that will exclude starscream from the client

[2021-11-13 04:20] BryanJBryce commented on #199
I had the version set to 0.5.0, this may have been the issue ¯\_(ツ)_/¯

[2021-11-13 04:20] #199 closed

[2021-11-16 20:43] thehavre opened #207 "Move out additional Rx and Starscream solutions to separate Swift Packages"
`SwiftPhoenixClient` may work completely independently using native Apple frameworks. Nowadays it's not necessary to depend it on `RxSwift` additional features and `Starscream` additional implementation.

Unfortunately, `SwiftPhoenixClient` Swift Package requires these dependencies to be installed:

[code]

This breaks power of its independence and may leads to SPM dependencies incompatibility iss

[2021-11-17 16:24] dsrees commented on #207
This is definitely the intention of how the project is set up. If it's not working this way then I may have a configuration issue in the Package.swift file

[2021-11-18 01:14] dsrees commented on #207
@thehavre could you please change your Package.swift to use the `fix-package-targets` branch and verify it is working for you? Thanks

[2021-11-18 09:35] thehavre commented on #207
@dsrees  unfortunately, it won't work , cause you have declared `Rx` and `Starscream` dependencies in one unified `Package.swift`

[code]

It means that you have declared your Product `SwiftPhoenixClient` with required Product dependencies. My issue arrises when I try to add `SwiftPhoenixClient` to the **Project** (not target). Xcode tries to resolve all **Project's** Packages and finds that it ha

[2021-11-18 18:44] dsrees commented on #207
Hmm.. I was using [Moya](https://github.com/Moya/Moya/blob/master/Package.swift) as an example here, assuming that if you used SPM to use Moya, they wouldn't pull non-used dependencies

I need to update to RxSwift 6.0 anyways so would that solve your problem for now until something else if figured out?

[2021-11-18 20:28] thehavre commented on #207
Yeah, updating RxSwift works for me. Thanks 🙃

[2021-11-22 17:04] morgz opened #210 "Question: Behaviour when remote kills connection."
What is the defined behaviour when the remote server closes the connection? e.g. I kill my dev server and then start it again.

I guess I was expecting the client to automatically reconnect if the restart happens within a window of 30 seconds or something like that.

[2021-11-22 17:11] dsrees commented on #210
The client will continue attempting reconnects on a [stepped backoff strategy](https://github.com/davidstump/SwiftPhoenixClient/blob/master/Sources/SwiftPhoenixClient/Defaults.swift#L33).

The [BasicChat Example](https://github.com/davidstump/SwiftPhoenixClient/blob/master/Examples/Basic/basic/BasicChatViewController.swift#L32-L33) provides an example of this behavior

You can give your own backof

[2021-11-22 17:47] morgz commented on #210
Thanks Dan. I'm just debugging why my code doesn't adopt this default behaviour as I've pretty much used the code straight from the sample. I'll report back. My sequence of events are:

[code]

[2021-11-22 18:05] morgz commented on #210
OK it appears to work fine when connecting straight to localhost. It doesn't work as expected when tunnelling to localhost via ngrok.

[2021-12-03 10:06] #210 closed

[2021-12-06 18:28] dsrees commented on #207
4.0.0 is released which includes RxSwift 6.x

[2021-12-06 18:28] #207 closed

[2022-01-07 17:22] jsmestad opened #213 "How to configure heartbeat?"
@davidstump @dsrees thanks for the library. This may be a foolish question, but how do you configure the heartbeat? I am setting `socket.heartbeatInterval = 1000` but it does not appear to do anything in practice. Reading through the code, I cannot see where `socket.heartbeatTimer` is getting initialized. The only place I can find the heartbeat being set is in `resetHeartbeat()`. I have to be miss

[2022-01-07 17:24] dsrees commented on #213
@jsmestad thanks for the question. Are you just trying to change the frequency of the heartbeat?

[2022-01-07 17:26] jsmestad commented on #213
I am getting a bunch of `phx_close` events from the client to the server, so in an effort to debug I started to look to see if Heartbeat was even getting sent from the connection. As I started tracing through the Socket initialize methods, I cannot find a test or any code that makes me think the heartbeat timer ever starts.

I must be totally missing it... 🙃

[2022-01-07 17:28] dsrees commented on #213
The heartbeat timer gets recreated [once the connection has been opened](https://github.com/davidstump/SwiftPhoenixClient/blob/master/Sources/SwiftPhoenixClient/Socket.swift#L572) using the `heartbeatInterval`. If you're changing that interval after the connection is opened then it won't affect the heartbeat.

Which client version are you using?

[2022-01-07 17:29] jsmestad commented on #213
@dsrees ah there it is! I was going crazy thinking it had to exist.

I am using `master` at the moment

[2022-01-07 19:45] #213 closed

[2022-01-12 03:07] JetForMe commented on #207
So, SwiftPhoenixClient still depends on RxSwift and Starscream, and so still pulls them down. May I suggest breaking out the Rx and Starscream support into separate packages that can be included independently?

[2022-01-12 03:17] JetForMe opened #214 "Problems with connections closing and not re-establishing"
What is the default expected behavior in the presence of severe network errors? We're seeing a general behavior of SwiftPhoenixClient disconnecting and not re-connecting.

Interestingly, we see two separate behaviors. Our app connects to the same `ws` URL with two different `Socket`s, and then a single channel is created for each Socket, each with a different topic (one for "auction", one for "cha

[2022-01-12 06:45] thehavre commented on #207
It would be perfect and right way to solve any related issue. Updating Rx version was like a half-measurement to solve a consequences :(

[2022-01-12 13:50] dsrees commented on #214
The reconnection logic Should Just Work. When setting Network Link Conditioner to "Very Bad Network", are you able to reproduce the issue?

Also, I would recommend only using a single `Socket` connection and then opening multiple channels through that socket.

[2022-01-12 23:03] JetForMe commented on #214
Yes, it sometimes reproduces with Very Bad Network. I'm using `URLSessionWebSocketTask` (rather, I’m NOT using Starscream, so I assume it's using `URLSessionWebSocketTask`).

Interesting, our back-end guys recommended separate sockets.

[2022-01-15 02:47] JetForMe commented on #214
A little more investigation: It seems that generally, channels do reconnect. Socket disconnects are a little less reliable, although not 100% so. It would be nice if there was more logging of re-connection-in-the-face-of-errors attempts.

[2022-02-06 21:28] ream88 opened #215 "Access raw message data"
I'm currently rewriting an APP of ours from a classic HTTP-based API to using web sockets. We already have a ton of different models and decoders for that reason, and I would love to reuse as much code as possible. Therefore my question: Is there a way to get the raw `payload` from a `Message` without parsing it as JSON?

[2022-02-07 16:46] dsrees commented on #207
@thehavre @JetForMe version 5.0.0 has removed RxSwift and Starscream as dependencies. These extensions will be available in separate repositories

[2022-02-07 21:11] ream88 commented on #215
Basically yes, I already have my decoding logic written, and it's accepting `Data` and converts it to `MyModel`. Serializing `[Any]` back to JSON to then convert it to `MyModel` just feels wrong, therefore I think some kind of low-level API to access the raw `Data` would be awesome.

[2022-02-10 10:16] srikanth-chetu opened #218 "Crash on channel connection"
Hi
I am getting issue with channel classes where my app gets crash and crashanalystic shows  its crashing at the time of connecting to the channel in delegateOnOpen delegates.

app functionality:
I has online and offine feature for that i am disconnecting socket when user goes into the background and connect socekt when it comes inro the foregound.

for disconnecting socket we are using method : s

[2022-02-11 00:54] dsrees commented on #218
Can you please provide a better formatting for your error message. It is difficult to track what is going on in the raw-text format you've provided.

Also, based on your description, I suspect that you are not creating a new `Channel` but instead trying to reconnect to the old one and hitting the `joinedOnce` error [thrown here](https://github.com/davidstump/SwiftPhoenixClient/blob/master/Sources/

[2022-03-09 13:47] #218 closed

[2022-08-11 21:15] jatindervrify opened #223 "`Channel` `bindingsDel` array is not thread safe and appears to rarely cause a crash"
Hi there,

We're encountering a rare crash where we see `Swift/ContiguousArrayBuffer.swift:580: Fatal error: Index out of range` when SwiftPhoenixClient attempts to filter `bindingsDel` in the `Channel` object while being manipulated from another thread. This is extremely hard to reproduce but we're seeing the crash in our Sentry logs. The call stack is below and we've isolated it to the code:

Co

[2022-09-19 19:21] sergey-g-s opened #224 "Problems with connections on WatchOS 9"
## **Description**

The SwiftPhoenixClient does not work on WatchOS 9. I have been having issues with **websockets** in my own app, and I believe this issue might be related to that. The problem of detection is only on a real device with WatchOS 9 (it seems that the emulator uses connections from Mac, so it works well there)
Everything worked until version WatchOS 9

## **SwiftPhoenixClient**

5.1

[2022-10-01 03:23] Rexios80 commented on #224
Websockets on watchOS are as good as dead: https://developer.apple.com/documentation/technotes/tn3135-low-level-networking-on-watchos

[2022-10-01 16:00] dsrees commented on #224
Thanks for that info, @Rexios80

[2022-10-01 16:00] #224 closed

[2022-10-01 16:55] Rexios80 commented on #224
You might want to remove watchOS from your podspec and package manifest